.card {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.cardHeaderPrice {
    font-size: 24px;
    line-height: 24px;
    color: #2196F3;
    font-weight: 600;
}
.cardHeaderIcon {
    max-width: 110px;
    height: 36px;
}
.cardHeaderIcon img {
    width: 100%;
    height: auto;
}
.cardInfo {
    display: flex;
    flex-direction: column;
}
.cardRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cardRow:last-child {
    margin-bottom: 0;
}
.cardCol {
    width: 140px;
}
.cardColTop {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #A0B0B9;
}
.cardColBot {
    display: flex;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #4A4A4A;
}