.app {
  background-color: #F3F7FA;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  color: #4A4A4A;

  &__container {
    margin: 0 auto;
    max-width: 755px;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 30px 0;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
  } 
}
